
/* flexbox */

/* .flex-container {
  display: flex;
  background-color: #f1f1f1;
  flex-direction: column;
    align-items: flex-end;
  padding: 10px;
  margin: 10px;
} */

.flex-container > div {
  background-color: white;
  width: 300px;
  height: 200px;
  border: solid 1px rgb(156, 156, 156);
  align-content: center;
  margin: 10px;
  padding: 10px;
  
}

.article__imagee {
  width: 100px;
}





 /**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017 */


html,
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

button {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

/* Navigation */

.navbar-brand > img {
  max-height: 40px;
  width: auto;
}

.navbar-light .navbar-toggler {
  border: 0;
  right: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #292b2c;
  font-weight: 600;
  text-transform: uppercase;

  /* Challenge: can you make the navigation links orange on hover? */
}
.nav-link{
  padding-right: 20px !important;
}
.nav-link:hover {
  color: orange !important; 
}
/* Buttons */
/* INSERT BUTTON STYLES HERE */
.button-style{
  background-color: #c05326;
}
button{
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin: 7px;
}
button:hover, button:focus{
  background-color: #934423;
}
.volunteer-button{
  color: #c05326;
  background-color: #fff;
}

/* Alert */

.alert {
  position: relative;
  margin-bottom: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid #dccdc6;
  border-radius: 0;
  font-size: 0.85rem;
  line-height: 1.3em;
  background: transparent;
  color: #292b2c;
}

.alert:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #6e2809;
}

/* Jumbotron */

.jumbotron {
  background-image: url("../images/header-bike.jpg");
  border-radius: 0;
  color: #fff;

  width: 1000px;
  border: burlywood 3px solid;
}

/* Headings */

.heading-underline  {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dccdc6;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 1000px;
}

.event {
    position: relative;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #c7c4c2;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 300px;
}
.heading-underline:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 25%;
  height: 1px;
  max-width: 100px;
  background: #c05326;
}

/* Article */

.article {
  margin-bottom: 2em;
}

.article__image {
  object-fit: contain;
  width: 5rem;
}

.article__title {
  margin-bottom: 0.5em;
  font-size: 1rem;
  font-weight: 700;
}

.article__read-more a {
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: uppercase;
}

.article__read-more a:hover,
.article__read-more a:focus {
  text-decoration: none;
}

.article__read-more .fa {
  margin-right: 0.5em;
  color: #c05326;
}

.article__read-more:last-child {
  margin-bottom: 0;
}

/* Footer */

.footer {
  margin-top: 2em;
}

.footer p {
  border-top: 1px solid #dccdc6;
  padding-top: 2em;
  padding-bottom: 2em;
}






/* flexbox */

.flex-box{
  display: flex;
}
.article-flexbox {
  flex-direction: row;
  border: 2px rgb(216, 216, 216) solid;
  padding: 6px;
  margin: 10px;

  width: 300px;
  margin: 20px;
}




/* flex */
.sidebar {
height:600px;
width: 350px;
position: absolute;
right: 0;
top: 0;
padding-top: 80px;
/* background-color: lightblue; */
}

.sidebar div {
padding: 8px;
/* font-size: 18px; */
display: block;
width: 300px;
height: 180px;
}
.sidebar div :nth-child(3) {
padding: 8px;
font-size: 16px;
display: block;
width: 300px;
height: 110px;
}

/* media */

@media only screen 
  and (max-device-width: 320px) 
  
 {


.sidebar {
height:600px;
width: 250px;
position: absolute;
right: 0;
top: 450px;
/* margin-top: 500px; */

}

.sidebar div {
padding-left: 10px;
font-size: 10px;
display: block;
width: 200px;
height: 150px;
}
.sidebar div :nth-child(3) {
padding: 8px;
font-size: 10px;
display: block;
width: 200px;
height: 110px;
}


.jumbotron {
  background-image: url("./images/header-bike.jpg");
  background-repeat: no-repeat;
   background-size: 100% 100%;
  width: 300px;
  border: rgb(233, 104, 175) 3px solid;
  margin-top: 30px;
  height: 300px;
}


.flex-box{
  display: flex;
  margin-top: 450px;
}
.article-flexbox {
  flex-direction: row;
  border: 2px rgb(216, 216, 216) solid;
  padding: 6px;
  margin: 10px;
  width: 200px;
  margin: 20px;
}


.heading-underline  {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dccdc6;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 100px;
  margin-top: 100px;
}
button{

  width: 140px;
  height: 30px;
  font-size: smaller;

}


  }